<div class="header-wrapper">
    <nav class="navigation">
        <ul class="nav-links-header">
            <li class="grey-dash">|</li>
            <li><a href="{{ url_for('main.home') }}">HOME</a></li>
            <li class="grey-dash">|</li>
            <li><a href="{{ url_for('main.my_pets') }}">MY PETS</a></li>
            <li class="grey-dash">|</li>
           
            <li class="spacer"></li>
            <!-- <li class="grey-dash">|</li>
            <li class="login-link"><a class="nav-link" href="{{ url_for('auth.login') }}">LOGIN / REGISTER</a></li>
            <li class="grey-dash">|</li> -->


            {% if not current_user.is_authenticated %}
            <li class="grey-dash">|</li>
            <li class="login-link"><a class="nav-link" href="{{ url_for('auth.login') }}">LOGIN / REGISTER</a></li>
            <li class="grey-dash">|</li>
            <!-- <li class="login-link"><a class="nav-link" href="{{ url_for('auth.login') }}">LOGIN</a></li>
            <li class="grey-dash">|</li>
            <li class="register-link"><a class="nav-link" href="{{ url_for('auth.register') }}">REGISTER</a></li>
            <li class="grey-dash">|</li> -->
            {% else %}
            <li class="grey-dash">|</li>
            <li class="logout-link"><a class="nav-link" href="{{ url_for('auth.login') }}">LOGOUT</a></li>
            <li class="grey-dash">|</li>
            {% endif %}
            
        </ul>
    </nav>
</div>