{% extends './layout.html' %}
{% block content %}

<h1>Adopt Me</h1>

<div class="container">

    <form action="/adopt/{{ pet_to_update.id }}" method="POST">
        {{ form.csrf_token}}
        <div class="form-group">
            <fieldset id="id-field">
                {{ form.id.label }}
                {{ form.id(class="form-control", value=pet_to_update.id) }}
            </fieldset>
            <fieldset name="name-field">
                {{ form.name.label }}
                {{ form.name(class = "form-control", value=pet_to_update.name) }}
            </fieldset>
            <fieldset type="type-field">
                {{ form.type.label }}
                {{ form.type(class = "form-control", value=pet_to_update.type) }}
            </fieldset>
            <fieldset description="description-field">
                {{ form.description.label }}
                {{ form.description(class = "form-control", value=pet_to_update.description) }}
            </fieldset>
            <fieldset image_link="image_link-field">
                {{ form.image_link.label }}
                {{ form.image_link(class = "form-control", value=pet_to_update.image_link) }}
            </fieldset>
            <fieldset date_adopted="date_adopted-field">
                {{ form.date_adopted.label }}
                {{ form.date_adopted(class = "form-control", value=pet_to_update.date_adopted) }}
            </fieldset>
            <fieldset owner="owner-field">
                {{ form.owner.label }}
                {{ form.owner(class = "form-control", value=current_user.id) }}
            </fieldset>
            <fieldset submit="submit-field">
                {{ form.submit(class = "form-control") }}
            </fieldset>
        </div>
    </form>
</div>


{% for p in pets %}
    {% if p.owner == current_user.id %}
        <div class="card">
            <div class="card-body">
                <div>
                    <p>Name: {{ p.name }}</p>
                    <p>Type: {{ p.type }}</p>
                    <p>Description: {{ p.description }}</p>


                </div>
                <div>
                    <img class="pet-images" src="{{ p.image_link }}">
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock content %}